//TODO: Make look pretty like other pages
extends layout

block content
    h1= title

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style.
        body {
            font-family: 'Work Sans', sans-serif;
            text-align: center;
            background: lightskyblue;
        }

        .container {
            margin-top: 100px;
        }

        #image {
            position: relative;

        }

        table, th, td {
            border: 1px solid black;
        }

        #travel-table {
            position: absolute;
            left: 20px;
        }

        #price-table {
            position: absolute;
            right: 20px;
        }

    .container
        p From #{start}
        p To #{end}


        table#travel-table
           caption By Travel Time
           tr
               th Transit Mode
               th Duration
               each val, index in mode
                    if (duration[index])
                        tr
                            td #{val}
                            td #{duration[index]}
                    else
                        tr
                            td #{val}
                            td None Found


        table#price-table
            caption By Price
            tr
                th Transit Mode
                th Price Estimate
                each value in prices
                        tr
                            td #{value[0]}
                            td #{value[1]}

        button#newsearch(onclick="move()") New Search
        script.
            function move() {
                window.location.href = '/search'
            }

        br

        img.image#image(src="https://www.mapquestapi.com/staticmap/v5/map?&size=800,450&key="+ mq_key + "&locations="+ start +"|flag-start||"+ end +"|flag-end" alt="Location Map" )




        noscript
           strong JavaScript appears to be disabled or not supported on your browser.
           p Please re-enable or use a supported browser for full functionality.


