
extends layout

block content
    h1= title
    p Welcome to #{title}

    p From #{start}
    p To #{end}


    h2 Sorted by Travel Time:
    #table-wrapper
        table#desc
           tr
               th Transit Mode
               th Duration
               each val, index in mode
                    if (duration[index])
                        tr
                            td #{val}
                            td #{duration[index]}
                    else
                        tr
                            td #{val}
                            td None Found

    h2 Sorted by price:
    table
        tr
            th Transit Mode
            th Price Estimate
            each value in prices
                    tr
                        td #{value[0]}
                        td #{value[1]}





    noscript
       strong JavaScript appears to be disabled or not supported on your browser.
       p Please re-enable or use a supported browser for full functionality.


    button(onclick="move()") New Search
    script.
        function move() {
            window.location.href = '/'
        }