
extends layout

block content
    h1= title
    p Welcome to #{title}

    p From #{start}
    p To #{end}


    h2 Sorted by Travel Time:
    each val, index in mode
        if (duration[index])
            p #{val}: #{duration[index]}
        else
            p #{val}: No duration found



    h2 Sorted by price:
    each value in prices
        p #{value[0]}: #{value[1]}




    noscript
       strong JavaScript appears to be disabled or not supported on your browser.
       p Please re-enable or use a supported browser for full functionality.


    button(onclick="move()") New Search
    script.
        function move() {
            window.location.href = '/'
        }