//TODO: Make look pretty like other pages
doctype html
html(lang='en')
    head
        title Compare Your Commute
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // Bootstrap CSS
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
        link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,700', rel='stylesheet', type='text/css')
        style.
            body {
                font-family: 'Work Sans', sans-serif;
                text-align: center;
                background: lightskyblue;

                .container {
                    margin-top: 100px;
                }

                #image {
                    position: relative;

                }

                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                }

                #travel-table {
                    position: absolute;
                    left: 20px;
                }

                #price-table {
                    position: absolute;
                    right: 20px;
                }
                }

    body

    .container
        .jumbotron.text-center.m-4
            h1 From #{start}
            h1 To #{end}


            table#travel-table.table.table-hover
                caption By Travel Time
                tr
                    th Transit Mode
                    th Duration
                each val, index in mode
                    if (duration[index])
                        tr
                            td #{val}
                            td #{duration[index]}
                    else
                        tr
                            td #{val}
                            td None Found


            table#price-table.table.table-hover
                caption By Price
                tr
                    th Transit Mode
                    th Price Estimate
                each value in prices
                        tr
                            td #{value[0]}
                            td #{value[1]}

        button#newsearch(onclick="move()") New Search
        script.
            function move() {
                window.location.href = '/search'
            }

        br

        img.image#image(src="https://www.mapquestapi.com/staticmap/v5/map?&size=800,450&key="+ mq_key + "&locations="+ start +"|flag-start||"+ end +"|flag-end" alt="Location Map" )




        noscript
           strong JavaScript appears to be disabled or not supported on your browser.
           p Please re-enable or use a supported browser for full functionality.


